
/* Initialize condition */

:root{

    /* colors */
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
  
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);

}


* {
    margin: 0;
    padding: 0;
}

/* Result Card */

.container {

    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    

}

.result {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5%;
    height: 25rem;
    width: 20rem;
    background: linear-gradient(to top, var(--Light-royal-blue), var(--Light-slate-blue));
    z-index: 1;
}


.circle {

    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, var(--Violet-blue), var(--Persian-blue));
    width: 120px;
    height: 120px;
    border-radius: 50%;
    justify-content: center;
    
    margin: 0 auto;

}

.result h3 {
    color: var(--Light-lavender);
}

.score {
    color: var(--Pale-blue);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.total {
    color: var(--Light-lavender);
}

h2 {
    color: var(--Pale-blue);
}

.result p {
    color: var(--Light-lavender);
}



.summary {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--Pale-blue);
    border-radius: 0 10px 10px 0;
    width: 20rem;
    height: 25rem;
    align-items: flex-start;
    
    
}

.summary-content {
    display: flex;
    flex-direction: column;
    background-color: var(--Pale-blue);
    width: 100%;
    height: 65%;
    justify-content: space-between;
    
}

.summary-score {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
    margin: 0.4rem 2rem;
    border-radius: 10px;
    
   
}

.inner-img {
    display: flex;
}

.summary h3 {
    margin-left: 1.5rem;
    font-weight: bold;
    color: var(--Dark-gray-blue);
}

button {
    margin: 0 auto;
    width: 70%;
    padding: 0.7rem;
    border-radius: 20px;
    margin-bottom: 0.7rem;
    background-color: var(--Dark-gray-blue);
    color: var(--Pale-blue);
    font-weight: bold;
}

span {
    color: var(--Dark-gray-blue);
    font-weight: bolder;
}

.score-total {
    color: grey;
}

img {
    padding:0 0.5rem;
}

.reaction {
    color: var(--Light-red);
    background-color: hsla(0, 100%, 67%, .2);
}

.memory {
    color: var(--Orangey-yellow);
    background-color: hsla(39, 100%, 56%, .2);
}

.verbal {
    color: var(--Green-teal);
    background-color: hsla(166, 100%, 37%, .2);
}

.visual {
    color: var(--Cobalt-blue);
    background-color: hsla(234, 85%, 45%, .2);
}



@media (max-width:768px) {

    

    .container {
        display: flex;
        
        flex-direction: column;
        justify-content: space-between;
        
    }

    .result {
        flex: 1;
        transform: translateY(3%);
    }

    .summary {
        flex: 2;
        border-radius: 0;
        max-height: fit-content;
        display: flex;
       
    }
}




















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }